@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Momo+Signature&family=Noto+Sans+Devanagari:wght@100..900&display=swap');
body{
    background-color: rgb(183, 233, 233);
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: "Inter";
    height: 50px;
    background-color: rgb(30, 86, 112);

}
nav ul{
    display: flex;
}

.brand{
    font-family: "Momo Signature", cursive;
    color: aliceblue;
    align-items: ;
    /* max-height: 20px;
    max-width: 20px; */
}
.brand img{
    width: 100px;;
    
}